{% include 'fragments/navBar.html.twig' %}
<div class="heading">
    <h3>shopping cart</h3>
    <p><a href="home.php">home </a> <span> / cart</span></p>
</div>

{% include 'fragments/loader.html.twig' %}
