 <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{asset('client/images/spaghetti.jpg')  }}" />
            <a href="dishes.php" class="cat">dishes</a>
            <div class="name">Spaghetti</div>
            <div class="flex">
                <div class="price"><span>$</span>4.5 </div>
                <input hidden name="id" value="2">
                <input hidden name="name" value="Spaghetti">
                <input hidden name="price" value="4.5" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/images/spaghetti.jpg') }}">

                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>4.5</span></div>

        </form>