{% include 'fragments/navBar.html.twig' %}



<div class="heading">
    <h3>your orders</h3>
    <p><a href="{{ path('home') }}">home </a> <span> / orders</span></p>
</div>

<section class="orders">
    <h1 class="title">placed orders</h1>

    <div class="box-container">
        <div class="orderbox box">
            <p><b>Placed on :</b> <span>2024-05-03</span></p>
            <p><b>Full Name : </b><span>John Doe</span></p>
            <p><b>Email :</b> <span>john.doe@example.com</span></p>
            <p><b>Address :</b> <span>123 Street, City, Country</span></p>
            <p><b>Your Orders :</b> <span>Product 1(2) - Product 2(1) -</span></p>
            <p><b>total price : </b><span>$60</span></p>
            <p><b>payment method :</b> <span> Master Card</span></p>
            <button class="pdfbutton">Save as PDF</button>
        </div>
    </div>
</section>


{% include 'fragments/loader.html.twig' %}


</body>
</html>


