{% include 'fragments/navBar.html.twig' %}



<div class="heading">
    <h3>your orders</h3>
    <p><a href="{{ path('home') }}">home </a> <span> / orders</span></p>
</div>

<section class="orders">
    <h1 class="title">placed orders</h1>

    <div class="box-container">
        <div class="orderbox box">
            <p><b>Placed on :</b> <span>2024-05-03</span></p>
            <p><b>Full Name : </b><span>John Doe</span></p>
            <p><b>Email :</b> <span>john.doe@example.com</span></p>
            <p><b>Address :</b> <span>123 Street, City, Country</span></p>
            <p><b>Your Orders :</b> <span>Product 1(2) - Product 2(1) -</span></p>
            <p><b>total price : </b><span>$60</span></p>
            <p><b>payment method :</b> <span> Master Card</span></p>
            <button class="pdfbutton no-print ">Save as PDF</button>
        </div>
    </div>
</section>


{% include 'fragments/loader.html.twig' %}

<script>
    var buttons = document.querySelectorAll('.pdfbutton');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            var parentDiv = this.parentElement.parentElement;
            var html = parentDiv.innerHTML; // Get the HTML of the parent div
            html=`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
      * {
        font-family: "Roboto", sans-serif;
        font-size: 30px;
      }
      .box {
        background: #ffc6b8;
        width: 80%;
        height: auto;
        margin: 0 auto;
        border: 4px solid #222;
        padding: 1rem 2rem;
        border-radius: 20px;
        overflow: auto;
      }
      p {
        color: #777;
        line-height: 2;
      }
      span {
        color: #222;
      }
      .no-print {
        display: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>`+html+`</body>
</html>`; // Add some styles to the HTML
            var formData = new FormData();
            formData.append('html', html);

            fetch('/pdf', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(blob => {
                    var url = window.URL.createObjectURL(blob);
                    window.open(url, '_blank');
                });
        });
    });
</script>
</body>

</html>


