{% extends 'fragments/navBar.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<html>
<body>

  <div class="heading">
    <h3>our menu</h3>
    <p><a href="home">home </a> <span> / menu</span></p>
  </div>


<section class="products">
    <h1 class="title">latest dishes</h1>
    {# Check if there are any error messages in the flashbag #}

        {# Loop through each error message and display it #}
        {% for errorMessage in app.flashes('error') %}

            <h1 style="color: red; font-size: 30px;text-align: center;"> {{ errorMessage }}</h1>
        {% endfor %}








    <div class="box-container">


        {% include 'fragments/pizzaProduct.html.twig' %}
        {% include 'fragments/spaghettiProduct.html.twig' %}
        {% include 'fragments/hamburgerProduct.html.twig' %}
        {% include 'fragments/cheeseCakeProduct.html.twig' %}
        {% include 'fragments/orangeJuiceProduct.html.twig' %}
        {% include 'fragments/chawarmaProduct.html.twig' %}
        {% include 'fragments/friesProduct.html.twig' %}
        {% include 'fragments/friedChickenProduct.html.twig' %}
        {% include 'fragments/mojitoProduct.html.twig' %}
        {% include 'fragments/tiramisuProduct.html.twig' %}
        
    </div>
</section>

<div class="loader">
    <img src="{{ asset('client/images/loader.gif') }}" alt="" />
</div>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script src="{{ asset('client/js/script.js') }}"></script>

<script>
    var swiper = new Swiper(".home-slider", {
        loop: true,
        grabCursor: true,
        effect: "flip",
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
           quantity = document.querySelectorAll("#product_quantity");
          let price = 3;
          //const position=this.parentNode.parentNode.firstElementChild.firstElementChild.innerText;
          const subTotal = document.querySelector('#piz');
          quantity.forEach(function(item) {
                item.addEventListener('change', function() {
                    //console.log(this.value); //quantity
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.innerText); // $
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling); //total price
                    //price = this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling;
                    let unitPrice = this.parentNode.parentNode.nextElementSibling.firstElementChild.innerText; //unit price
                    this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling.textContent = unitPrice * this.value;
                });
           });

      });
  </script>

</body>

</html>

{% endblock %}